.g6-component-toolbar-content {
  display: flex;
  flex-direction: column;
  background: transparent;
  padding: 0;
  border: none;
  box-shadow: none;
}

.g6-component-toolbar-item {
  height: 40px;
  width: 40px;
  border: none;
  background: transparent !important;
  margin: 1px 0;  /* 增加了工具之间的垂直间距 */
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;  /* 添加圆角，使按钮更美观 */
  transition: all 0.3s;  /* 添加过渡效果 */
}

.g6-component-toolbar-item:hover {
  background-color: rgba(0, 0, 0, 0.05);
  transform: scale(1.05);  /* 鼠标悬停时轻微放大效果 */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);  /* 添加轻微阴影效果 */
}
